rulebase {
  security {
    rules {
      "Allow {{ service_name }} service" {
        from any;
        to any;
        source any;
        source-user any;
        hip-profiles any;
        destination "{{ service_name }} server";
        application any;
        service application-default;
        category any;
        action allow;
        log-start no;
        log-end yes;
        description "permit access to {{ service_name }} service";
        rule-type universal;
        negate-source no;
        negate-destination no;
        disabled no;
        option {
          disable-server-response-inspection no;
        }
      }
